
/* AUTH STYLES */
.auth-section >.img-container{
 width:38px;
 height:38px;
 margin:2rem auto 4rem auto;
 padding:0;
}
.form-container{
background:#fff;
color:#57596c;
}
.form-container  a{
color:#4468F2;
}
.form-container h2{
font-weight:700;
font-size: 1.45rem;
text-align:initial;
}
/* .auth-section > .flex-container-2{
border:1px solid red;
flex-basis:auto;
} */
.form-container .form-field input{
border: 1px solid #D0D3D8
}
.form-container .flex-container-2 .img-container{
border-radius:12px;
}
.form-container .form-field button{
width:100%;
border-radius:12px;
font-weight:700;
font-size:0.875rem;
text-transform:capitalize;
}
.form-container .flex-container-2.flex-2{
display:flex;
justify-content:center;
align-items:center;
}
.form-container .flex-container-2.flex-2>*{
flex-basis:auto;
}

.form-container .form-field.terms {
text-align:center;
}
.form-container .form-field.terms label{
display:inline-block;
text-transform:lowercase;
}
.form-container .form-field.terms label span{
text-decoration:underline;
color: #4468F2;
}
.form-container .form-field.terms input{
width:initial;
}